# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Git & IDE
.git/
.gitignore
.vscode/
.idea/

# Byte-compiled / logs
*.log

# Local env/config
.env
.env.*
*.sqlite3

# Tests & artifacts
.coverage
htmlcov/
dist/
build/

# Infra / deploy (no debe ir dentro de la imagen de la app)
terraform/
k8s/
docs/
scripts/
*.tfstate
*.tfstate.*
.terraform/
