# App
PORT=8000
UVICORN_WORKERS=2
UPLOAD_DIR0=/app/uploads

# Postgres
POSTGRES_DB=sipscan
POSTGRES_USER=sipscan_user
POSTGRES_PASSWORD=supersecretpassword
DATABASE_URL=postgresql+asyncpg://sipscan_user:supersecretpassword@db:5432/sipscan

# AWS
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# AWS / S3
AWS_REGION=us-east-1
S3_BUCKET=tu-bucket-sipscan
S3_PREFIX=receipts
PRESIGN_TTL_SECONDS=604800 # 7 days


# JWT Auth
AUTH_SECRET=super-secreto