# App
PORT=8000
UVICORN_WORKERS=2

# Postgres
POSTGRES_DB=sipscan
POSTGRES_USER=sipscan_user
POSTGRES_PASSWORD=supersecretpassword
DATABASE_URL=postgresql+asyncpg://sipscan_user:supersecretpassword@db:5432/sipscan
